:root {
    --primary-color: rgb(30, 148, 184);
    --secondary-color: rgb(116, 185, 185);
    --thirdy-color: rgb(185, 129, 218);
}

.greeting {
    font-size: 3rem;
    margin-bottom: 20px;
}

.lead {
    font-size: 1.25rem;
    line-height: 1.5;
}

.cat_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #000;
    position: fixed;
    display: none;
    pointer-events: none;
}

.name {
    font-weight: bold;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #ccc;
}

.contact-text a {
    color: var(--thirdy-color);
    text-decoration: none;
}

.contact-text a:hover {
    text-decoration: underline;
}

.title-header {
    color: var(--primary-color); /* Matches the red color for "Skills" */
    text-transform: uppercase;
    font-weight: bold;
}

.links {
    color: var(--secondary-color);
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

.footer-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.footer-link:hover {
    text-decoration: underline;
}